*{
	padding:0;
	margin:0;
	font-family: PingFangSC-Regular, PingFangSC;
}
page {
	    width:100%;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		background-color: #efeff4;
	}
view{
	font-size:16px;
	color:#222222;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
  view{
  	font-size:14px;
  	color:#222222;
  }
}
/* 如果设备像素大于等于3，则用3倍图 */
@media screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3) {
  view{
  	font-size:14px;
  	color:#222222;
  }
}

.text_money_dw{
	height:20px;
	line-height:22px;
	float:left;
	font-size:0.9em;
	color:#ff4000;
}
.text_momey{
	height:20px;
	line-height:20px;
	float:left;
	color:#ff4000;
	font-size:1.1em;
	font-weight: 600;
}
.floatR{
	float:right;
	color:#fb4343;
}


